body {
    background-size: auto;
    background-color: rgb(0, 0, 0);
}

.my_container {
    height: 100px;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.title{
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-size: 78px;
    letter-spacing: -1.0px;
    word-spacing: 2px;
    color: red;
    font-weight: 1000;
    font-style: normal;
    font-variant: small-caps;
    text-transform: uppercase;
}

.header{
    margin-top: 0;
    width: 100%;
    text-align: center;
    top: 0;
    padding-top: 0;
    margin-top: 0;
    background-color: rgb(0, 0, 0);
}

a.button1{
    display:inline-block;
    padding:1em 1.2em;
    border:0.1em solid red;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:red;
    text-align:center;
    transition: all 0.2s;
    user-select:none;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:red;
    color: black;
    text-align: center;
}

a.button1:hover{
color:#000000;
background-color:red;
cursor: pointer;
}

.hidden{
    display: inline;
    color: red;
}

@media all and (max-width:30em) {
    .title{
        font-size: 48px;
    }
    .my_container{
        margin-top: 30%;
    }
  }

@media all and (max-width:30em){
    a.button1{
        margin-left: 0.5em;
    }
} 

.bouncy{
    animation:bouncy 8s infinite linear;
    position:relative;
    }
    @keyframes bouncy {
    0%{top:0em}
    40%{top:0em}
    43%{top:-0.9em}
    46%{top:0em}
    48%{top:-0.4em}
    50%{top:0em}
    100%{top:0em;}
    }